<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>


<table>
<% @order.line_items.each do |item| %>
  <tr>
    <td> <div class="entry">
        <%= image_tag(item.photo.image_url) %>
    </div>
    </td>
    <td><%= item.photo.Title %></td>
    <td><%= link_to ('download'), item.photo.original_image_url, :target => "_blank"%></td>
  </tr>
<% end %>
</table>