<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>

<table>
<% @order.line_items.each do |item| %>
  <tr>
    <td> <div class="entry">
        <%= image_tag(url_for({:controller => 'photos', :action => 'sample_image', :id => item.photo.id}), :method => :get) %>
    </div>
    </td>
    <td><%= item.photo.Title %></td>
    <td><%= link_to ('download'), url_for({:controller => 'photos', :action => 'original_image', :id => item.photo.id}), :target => "_blank"%></td>
  </tr>
<% end %>
</table>





