<div id="photo_list" >
<table>
  <% if session[:mainuser_id] %>
        <%= link_to 'New Photo', new_photo_path %>
     <% end %>

     <% if session[:adminuser_id] %>
        <%= link_to 'New Photo', new_photo_path %>
     <% end %>

  <% if session[:user_id] %>
        <%= link_to 'New Photo', new_photo_path %>
     <% end %>
<% @photos.each do |photo| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >

    <td>
      <% if photo.snap %>
      <%= image_tag(url_for({:action => 'sample_image', :id => photo.id}),
      :class => 'list_image') %>
      <% end  %>
    </td>

    <td class="list_description">
      <dl>

    <dt><%= photo.Title %></dt>
    
    <dt><%= photo.Location %></dt>
    <dt><%= photo.Date_and_time %></dt>
    <dt><%= photo.Photographer_name %></dt>
    <dt><%= photo.single_price %></dt>
    <dt><%= photo.outright_price %></dt>
    <dd><%= truncate(strip_tags(photo.Description),
            :length => 100) %></dd>
      </dl>
    </td>

    <% if session[:user_id] %>
    <td class="list_actions" >
       <%= link_to 'Show', photo %><br/>
       <%= link_to 'Edit', edit_photo_path(photo) %><br/>
       <%= link_to 'Destroy', photo,
                   :confirm => 'Are you sure?',
                   :method => :delete %>
       <%= link_to 'hide', photo %>
    </td>
  <% end %>

    <% if session[:mainuser_id] %>
    <td class="list_actions" >
       <%= link_to 'Show', photo %><br/>
       <%= link_to 'Edit', edit_photo_path(photo) %><br/>
          </td>
  <% end %>


     <% if session[:adminuser_id] %>
      <td class="list_actions">

        <%= link_to 'Show', photo %><br/>
        <%= link_to 'Edit', edit_photo_path(photo) %><br/>
        <%= link_to 'Destroy', photo,
                   :confirm => 'Are you sure?',
                   :method => :delete %>
     </td>
     
     <% end %>

     
  </tr>
  
<% end %>
</table>
</div>
<br />



  